<!DOCTYPE html>
<html lang="en">
<head>
    <title>chat rooms</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
{{ template "chat_nav.html" . }}
<div class="row mt-2">
    {{ template "chat_left.html" . }}
    <div class="col-sm-8 mt-3">
        <div class="container mt-3">
			<!--
            <div class="container mb-3 pb-3 border-bottom">
                <h1 class="text-center">在线文件存储系统</h1>
            </div>
			-->
			<div class="table-responsive">
				<table class="table table-hover">
					<tbody>
					{{ range .rooms }}
					<tr>
						<td>
							<span>{{ . }}</span>
						</td>
						<td>
							<span><a href="/chat/{{ . }}?username={{ $.username }}"><button class="btn btn-warning">进入房间</button></a></span>
						</td>
					</tr>
					{{ end }}
					</tbody>
				</table>
			</div>
		</div>
    </div>
</div>
</body>
</html>
