<!DOCTYPE html>
<html lang="en">
<head>
    <title>online storage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
{{ template "chat_nav.html" . }}
<div class="row mt-2">
    {{ template "chat_left.html" . }}
    <div class="col-sm-8 mt-3">
        <div class="container mt-3">
			<!--
            <div class="container mb-3 pb-3 border-bottom">
                <h1 class="text-center">在线文件存储系统</h1>
            </div>
			-->
			<div class="table-responsive">
				<table class="table table-hover">
					<!--
					<thead>
					<tr>
						<th>file name</th>
						<th><span>file action</span></th>
					</tr>
					</thead>
					-->
					<tbody>
<!--					{{ range .files }}
					<tr id="{{ DelPoint . }}">
						<td>
							<span>{{ . }}</span>

						</td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-bs-toggle="dropdown">操作</button>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item download-btn" href="/resource/{{ . }}" download name="{{ . }}">下载</a></li>
									<li><a class="dropdown-item delete-btn" href="#" name="{{ . }}" uname="{{ DelPoint . }}">删除</a></li>
								</ul>
							</div>
						</td>
					</tr>
					{{ end }} -->

					{{ range .rooms }}
					<tr>
						<td>
							<span><a href="/chat/{{ . }}?username={{ $.username }}">{{ . }}</a></span>

						</td>
						<td>
							<span>Description</span>
						</td>
					</tr>
					{{ end }}
					</tbody>
				</table>
			</div>
		</div>
    </div>
</div>
</body>
</html>
