* {
        margin: 0;
        padding: 0;
        font-family: 'montserrat', sans-serif;
        box-sizing: border-box;
}
.services-section {
        background: url(../pages/img/bg12.jpg);
        /* background-color:#191970; */
        /* background-color:#FFFAF0; */
        background-size: cover;
        background-repeat:no-repeat;
	background-position: 650px 0px;
        background-attachment:fixed;
        padding: 40px 0;
}
.inner-width {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 0 20px;
        overflow: hidden;
}
.section-title {
        text-align: center;
        color: #696969;
        text-transform: uppercase;
        font-size: 30px;
}
.border {
        width: 600px;
        height: 3px;
        /* background: #82ccdd;*/
        background: #696969;
        margin: 40px auto;
}
.services-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}
.service-box {
        max-width: 33.33%;
        padding: 10px;
        text-align: center;
        color: #ddd;
        cursor: pointer;
}
.service-icon {
        display: inline-block;
        width: 70px;
        height: 70px;
        /*border: 3px solid #82ccdd;*/
        border: 3px solid #696969; /* gray */
        /*border: 3px solid #FFFFFF; /* white */
        color: #82ccdd;
        transform: rotate(45deg);
        margin-bottom: 30px;
        margin-top: 16px;
        transition: 0.3s linear;
}
.service-icon i {
        line-height: 70px;
        transform: rotate(-45deg);
        font-size: 26px;
        /* the image in the border */
        color: #696969; /* gray */
        /*color: #FFFFFF; /* white */
}
.service-box:hover .service-icon {
        /* set cursor-on color by hover */
        background: gray;
        color: white;
}
.service-box:hover .service-icon i{
        /* set cursor-on color by hover */
        color: white;
}
.service-title {
        font-size: 18px;
	font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: gray;
}
.service-desc {
        font-size: 14px;
        color: #000000;
}
@media screen and (max-width: 960px) {
        .service-box {
                max-width: 45%;
        }
}
@media screen and (max-width: 768px) {
        .service-box {
                max-width: 50%;
        }
}
@media screen and (max-width: 480px) {
        .service-box {
                max-width: 100%;
        }
}
