.services-section {
    background:url(../pages/img/bg21.png);
    /* background-color:#191970; */
    /* background-color:#FFFAF0; */
    background-size: cover;
    background-position: 500px 0;
    background-repeat:no-repeat;
    background-attachment:fixed;
    padding: 60px 0;
    z-index: -1;
}
.main {
    /*text-align: center; /*让div内部文字居中*/
    padding: 8px;
    border-style: solid;
    border-radius: 20px;
    border-color: orangered;
    border-width: 5px;
    width: 300px;
    height: 180px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: orangered 5px 5px 10px;
    background-color: white;
}
.form{
    position: absolute;
    right: 0;
    margin-right: 115px;
}
.head1{
    text-align: center;
    color: orangered;
}
.upload-wrap{
    position: relative;
    display: inline-block;
    overflow: hidden;
    border:1px solid orangered;
    border-radius: 3px;
}
.upload-wrap .file-ele{
    position: absolute;
    top:0;
    right:0;
    opacity: 0;
    height: 100%;
    width: 100%;
}
.upload-wrap .file-open{
    width:90px;
    height:35px;
    font-size: 13px;
    font-weight: bold;
    line-height:30px;
    text-align: center;
    color:white;
    background: orangered;
}
.btn {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height:30px;
    color: white;
    background-color: orangered;
    border: 1px solid orangered;
    width: 90px;
    height: 35px;
    margin-bottom: 6px;
    margin-top: 6px;
    border-radius: 3px;
}
